[ ca ]
        default_ca             = CA_CLIENT       # Used when signing certificates, means do use the CA_CLIENT section which you can find below
        
        [ CA_CLIENT ]
        dir                    = .               # Folder for working files
        certs                  = $dir/certs      # Folder for collected certificates during long time usage
        new_certs_dir          = $dir/new_certs  # Folder for newly created certificates
        database               = $dir/index.txt  # Text mode DB file path, DB will contain descriptions of signed certificates
        serial                 = $dir/serial     # Path to file containing serial number
        RANDFILE               = $dir/.rnd       # Path to file containing sequence of random numbers in hex format
        certificate            = ./rootCA.pem    # CA certificate file
        private_key            = ./rootCA.key    # CA private key file
        default_days           = 3650            # Validity period of being signed certificate
        default_crl_days       = 7               # Validity period of CRL(see $4)
        default_md             = sha256          # Signature algorithm
        name_opt               = ca_default
        cert_opt               = ca_default
        policy                 = policy_anything # Name of section containing description of certificate properties, can be found below

        # Set of policies applied to certificates

        [ policy_anything ]
        countryName            = optional        # optional
        stateOrProvinceName    = optional        # optional
        localityName           = optional        # optional
        organizationName       = optional        # optional
        organizationalUnitName = optional        # optional
        commonName             = supplied        # must have
        emailAddress           = optional        # optional
